<div class="container">
  <div class="border border-3 py-3 mt-5">
    
  <h2 class="text-primary text-center mb-3">
  <%= image_tag 'logo.png', class: 'img-fluid me-3 rounded-circle border border-white border-5', size: '70x70' %>
    IKE Q&A <span class="text-danger">~公開環境~</span>
  </h2>
  
  <div class="d-flex justify-content-center">
    
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name),html: { class: "col-md-6" }) do |f| %>
      <div class="field mb-3">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>
    
      <div class="field mb-1">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" , class: 'form-control' %>
      </div>
    
      <% if devise_mapping.rememberable? %>
        <div class="field mb-3">
          <%= f.check_box :remember_me , class: 'check' %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    
      <div class="actions mb-3">
        <%= f.submit "Log in", class: 'btn btn-primary'  %>
      </div>
      
        <div class="text-center">
    <p>
      <row>
        <button class="btn btn-outline-dark me-3 col col-md-5 mb-2 mb-md-0" data-bs-toggle="collapse" href="#admincollapse" role="button" aria-expanded="false" aria-controls="collapseExample">
          管理者でログインしたい
        </button>
        <button class="btn btn-outline-dark col col-md-5" type="button" data-bs-toggle="collapse" data-bs-target="#usercollapse" aria-expanded="false" aria-controls="collapseExample">
          一般ユーザでログインしたい
        </button>
      </row>
    </p>
    <div class="collapse" id="admincollapse">
      <div class="card card-body">
        Eメールに「admin@admin」, パスワードに「password」を入力してください。
      </div>
    </div>
    <div class="collapse" id="usercollapse">
      <div class="card card-body">
        Eメールに「user@user」, パスワードに「password」を入力してください。
      </div>
    </div>
  </div>
      
      <%= render "devise/shared/links" %>
      
      <!--ゲストユーザ用-->
      <%= link_to 'ゲストの方はこちら', questions_index_path %>
      
    <% end %>
    
    
    </div>
  </div>
</div>
